*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: medium;
}
.navbar{
    display: flex;
    height: 5vh;
    align-items: center;
position: relative;
}
.navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.logo {
    color: orange;
    margin-right: auto;
}
.item{
    display: inline;
    list-style: none;
}
.item  a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.item  a:hover {
    text-decoration: underline;
    color: red;
    background-color: white;
    
}
.othersection {
    height: 80vh;
    display: flex;
    flex-direction: column; 
     justify-content: center;
     align-items: center; 
}
.othersection::before{
    content: "";
    position: absolute;
    background: url(mybgnew.webp) no-repeat center center/cover;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.59;
}
.myfirstbutton{
    background-color: red;
    border-radius: 5px;
    height: 4.5vh;
    width:9vw;
    margin-top: 4px;


}
.myfirstbutton:hover{
    box-shadow: 5px 5px 8px;
    cursor: pointer;
}
.otherpage{
     margin-top: 50px; 

    }
.otherpage img{
    margin: 40px;
    width: 35vw;
    height:60vh;
border-radius: 19px;
}
.chatandpay {
    display: flex;
   flex-direction: row;
   justify-content: center;
}
.buttonscandp{
    display: flex;
    justify-content: space-evenly;
   
}
button{
    background-color: blueviolet;
   height: 35px;
   border-radius: 12px;
}
button:hover{
    font-size: 1rem;
    box-shadow: 2px 2px 2px;
}
.remindanddiary{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonsrandd{
    display: flex;
    flex-direction: row;
justify-content: space-evenly; 
}

footer{
    margin-top: 40px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity:0.79;

}
footer h{
        margin-left:  150px;
        font-size: 2rem;
}
footer p{
    margin-top: 20px;
}